{{ define "main" }}
{{ $section_class := "" }}
{{ $section := .CurrentSection }}
{{ with $section }}
  {{ if in .RelPermalink "old-way" }}{{ $section_class = "section-page--old-way" }}
  {{ else if in .RelPermalink "new-ways" }}{{ $section_class = "section-page--new-ways" }}
  {{ else if in .RelPermalink "evidence" }}{{ $section_class = "section-page--evidence" }}{{ end }}
{{ end }}
<article class="section-page {{ $section_class }}">
  <div class="container">
    <h1>{{ .Title }}</h1>
    {{ .Content }}

    {{ with $section }}
    <nav class="back-link">
      <a href="{{ .RelPermalink }}">Back to {{ .Title }}</a>
    </nav>
    {{ end }}
  </div>
</article>
{{ end }}
