<header class="site-header">
  <nav class="icon-nav" aria-label="Main navigation">
    <ul>
      {{- $rel := .RelPermalink -}}
      {{- range .Site.Menus.main -}}
      {{- $active := false -}}
      {{- if eq .URL "/" -}}
        {{- $active = eq $rel "/" -}}
      {{- else -}}
        {{- $active = hasPrefix $rel .URL -}}
      {{- end -}}
      {{- $section := "" -}}
      {{- $icon := "" -}}
      {{- if eq .URL "/" -}}
        {{- $section = "home" -}}{{- $icon = "circle-help" -}}
      {{- else if in .URL "old-way" -}}
        {{- $section = "old-way" -}}{{- $icon = "old-way" -}}
      {{- else if in .URL "new-way" -}}
        {{- $section = "new-way" -}}{{- $icon = "new-way" -}}
      {{- else if in .URL "what-can-i-do" -}}
        {{- $section = "action" -}}{{- $icon = "user" -}}
      {{- end -}}
      <li>
        <a href="{{ .URL }}"
           class="icon-nav-link{{ with $section }} icon-nav-link--{{ . }}{{ end }}"
           aria-label="{{ .Name }}"
           title="{{ .Name }}"
           {{ if $active }}aria-current="page"{{ end }}>
          {{- with $icon -}}{{ partial (printf "icons/%s.html" .) $ }}{{- end -}}
        </a>
      </li>
      {{- end }}
    </ul>
  </nav>
</header>
