{{- if eq . "one-thing" -}}
  {{- partial "icons/one-thing.html" . -}}
{{- else if eq . "old-way" -}}
  {{- partial "icons/old-way.html" . -}}
{{- else if eq . "new-way" -}}
  {{- partial "icons/new-way.html" . -}}
{{- else if eq . "evidence" -}}
  {{- partial "icons/evidence.html" . -}}
{{- else if eq . "list-filter" -}}
  {{- partial "icons/list-filter.html" . -}}
{{- else if eq . "newspaper" -}}
  {{- partial "icons/newspaper.html" . -}}
{{- else if eq . "hourglass" -}}
  {{- partial "icons/hourglass.html" . -}}
{{- else if eq . "repeat" -}}
  {{- partial "icons/repeat.html" . -}}
{{- else if eq . "eye" -}}
  {{- partial "icons/eye.html" . -}}
{{- end -}}
